asgiref==3.9.0
Django==5.2.4
djangorestframework==3.16.0
psycopg2-binary==2.9.10
python-decouple
sqlparse==0.5.3
django-cors-headers
Pillow
google-api-python-client==2.128.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-analytics-data
django-filter
djangorestframework-simplejwt
